<!-- <style>
   

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #444;
}

 .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}



.red {
    background-color: #d55050;
}
.thead 
{
    background-color:#1616ba;
    color: white;
    text-align: center;
}
.tbody
{
    background-color:#edba93;
    border:2px solid red
}
.back 
{
    text-decoration: none;
}
table 
{
    margin-left:50px
}
.back 
{
    margin-left:50px
}
    </style> -->
<body>
    <title>Student Show Data</title>  
    {% load static %}
    <link  href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>  
   
    <div class="container">  
   
    <center><h1>Provisional Result</h1></center>
    <table class="table table-striped table-bordered table-sm table-hover table-dark table-sm">  
        <thead class="thead-dark">  
        <tr>
            <!-- <td>Roll No</td> -->
            <td>Student Name</td>
            <td>Course Name</td>
            <td>Collage</td>
            <td>Enrollment No</td>
            <td>Semester</td>
            <td>Passing Year</td>
           
            <td>Action</td>
        </tr>
    </thead>
    <tbody class="tbody">
        {% for stu in students %}
        <tr>
            <td>{{stu.s_name}}</td>
            <td>{{stu.c_name}}</td>
            <td>{{stu.collage}}</td>
            <td>{{stu.enrollment}}</td>
            <td>{{stu.sem}}</td>
            <td>{{stu.p_year}}</td>
          
            <td>  
                <!-- <a href="/edit/{{ employee.id }}" class="btn">Edit</span></a>  -->
              
                <a href="/hello/delete/{{stu.id}}"><span class="glyphicon glyphicon-trash">Delete</span></a> &nbsp;&nbsp;
                <a href="/hello/update/{{stu.id}}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                   
               
            </td>  
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<center><a href="/hello/hello" class="btn btn-primary">Add New Student</a></center> 
</body>